{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1> Please select the operation you want to perform</h1>
    <ul>
        <li>
            <a> Mandatory Operations </a>
            <ul>
                <li>
                    <a href="{{ url_for('loaddata') }}">Load Data</a>
                </li>
            </ul>
        </li>
        <li>
            <a> Host Tracking </a>
            <ul>
                <li>
                    <a href="{{ url_for('trackhosts') }}">Track Hosts</a>
                </li>
                <li>
                    <a href="{{ url_for('trackcommand') }}">Track hosts and run commands</a>
                </li>
            </ul>
        </li>
        <li>
            <a> Subnet Tracking </a>
            <ul>
                <li>
                    <a href="{{ url_for('tracksubnet') }}">Track Subnets</a>
                </li>
            </ul>
        </li>
        <li>
            <a> Inventory Options </a>
            <ul>
                <li>
                    <a href="{{ url_for('inventory') }}">Display Inventory</a>
                </li>
                <li>
                    <a href="{{ url_for('static', filename='inventory.yml') }}">Download Inventory</a>
                </li>
                <li>
                    <a href="{{ url_for('loadinv') }}">Upload Inventory</a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

